<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>系统介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>




<body class="gray-bg">
    <div class="row  border-bottom white-bg dashboard-header" style="height:600px">
		<!--<div class="row mainContent" id="content-main">-->
			<iframe class="RuoYi_iframe" name="iframe0" width="100%" height="100%" data-id="/system/message"
					th:src="@{/system/message}" frameborder="0" seamless></iframe>
		<!--</div>-->

    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-4">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>联系信息</h5>
                    </div>
                    <div class="ibox-content">
                        <p><i class="fa fa-send-o"></i> 官网：<a href="http://www.testservice.com" target="_blank">http://www.testservice.com</a>
                        </p>
                        <p><i class="fa fa-qq"></i> QQ：<s>1389287</s> <s>1679294</s> <s>1529866</s> <a href="https://jq.qq.com/?_wv=1027&k=5g75dCU" target="_blank">1772718</a>
                        </p>
                        <p><i class="fa fa-weixin"></i> 微信：<a href="javascript:;">17361016758</a>
                        </p>
						<p >
							<a href="javascript:;"><img th:src="@{/img/qq.jpg}" width="100%" alt="请使用手机微信扫描">
							</a>
						</p>
						<p >
							<a href="javascript:;"><img th:src="@{/img/chart.jpg}" width="100%" alt="请使用手机微信扫描">
							</a>
						</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>更新日志</h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="panel-body">
                            <div class="panel-group" id="version">
                             <div class="panel panel-default">
								<div class="panel-heading">
								   <h5 class="panel-title">
									   <a data-toggle="collapse" data-parent="#version" href="#v33">v3.3.0</a><code class="pull-right">2019.04.01</code>
								   </h5>
								</div>
								<div id="v33" class="panel-collapse collapse in">
									<div class="panel-body">
									   <ol>
											<li>新增线程池统一管理</li>
											<li>新增支持左右冻结列</li>
											<li>新增表格客户端分页选项</li>
											<li>新增表格下拉按钮切换方法</li>
											<li>新增表格分页跳转到指定页码</li>
											<li>新增表格启用点击选中行参数</li>
											<li>修改用户管理界面为Tab打开方式</li>
											<li>修复@Excel注解 prompt 属性使用报错</li>
											<li>修复combo属性Excel兼容性问题</li>
											<li>新增@Excel导入导出支持父类字段</li>
											<li>增加日期控件显示类型及回显格式扩展选项</li>
											<li>修复定时任务执行失败后入库状态为成功状态</li>
											<li>支持定时任务并发开关控制</li>
											<li>优化权限校验失败普通请求跳转页面</li>
											<li>捕获线程池执行任务抛出的异常</li>
											<li>修复IE浏览器导出功能报错</li>
											<li>调整用户个人中心页面</li>
											<li>修复界面存在的一些安全问题</li>
										</ol>
									</div>
								</div>
							</div>
                            <div class="panel panel-default">
								<div class="panel-heading">
								   <h5 class="panel-title">
									   <a data-toggle="collapse" data-parent="#version" href="#v32">v3.2.0</a><code class="pull-right">2019.01.18</code>
								   </h5>
								</div>
								<div id="v32" class="panel-collapse collapse">
									<div class="panel-body">
									   <ol>
											<li>部门修改时不允许选择最后节点</li>
											<li>修复部门菜单排序字段无效</li>
											<li>修复光驱磁盘导致服务监控异常</li>
											<li>登录界面去除check插件</li>
											<li>验证码文本字符间距修正</li>
											<li>升级SpringBoot到最新版本2.1.1</li>
											<li>升级MYSQL驱动</li>
											<li>修正登录必填项位置偏移</li>
											<li>Session会话检查优化</li>
											<li>Excel注解支持多级获取</li>
											<li>新增序列号生成方法</li>
											<li>修复WAR部署tomcat退出线程异常</li>
											<li>全屏操作增加默认确认/关闭</li>
											<li>修复个人信息可能导致漏洞</li>
											<li>字典数据根据下拉选择新增类型</li>
											<li>升级Summernote到最新版本v0.8.11</li>
											<li>新增用户数据导入</li>
											<li>首页主题样式更换</li>
											<li>layer扩展主题更换</li>
											<li>用户管理移动端默认隐藏左侧布局</li>
											<li>详细信息弹出层显示在顶层</li>
											<li>表格支持切换状态（用户/角色/定时任务）</li>
											<li>Druid数据源支持配置继承</li>
											<li>修正部分iPhone手机端表格适配问题</li>
											<li>新增防止重复提交表单方法</li>
											<li>新增表格数据统计汇总方法</li>
											<li>支持富文本上传图片文件</li>
										</ol>
									</div>
								</div>
							</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>意见反馈</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="alert alert-warning">
                            	请移步群组提交您的宝贵意见
                        </div>
                        <p id="pay-qrcode">
                            <a href="javascript:;"><img th:src="@{/img/chart2.jpg}" width="100%" alt="请使用手机微信扫描">
                            </a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
