<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>检验检测服务平台</title>
	<link rel="stylesheet" type="text/css" href="../../css/iconfont/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="/../../css/style(bottom).css" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head>

<body>
<!--注册通栏-->
<div class="register">
	<h2 class="title">现在入驻，立享价值上万元的新人专属礼包</h2>
	<p class="desc">运营交流大会门票&运营宝典</p>
	<a href="#" class="btn">注册有礼</a>
</div>
<!--尾部-->

<div class="site-footer">

	<div class="footer-related">

		<div class="footer-article w1210">

		<dl class="col-article">
				<dt>共享平台</dt>
				<dd>
					<a href="#">北京</a>
					<a href="#">上海</a>
					<a href="#">四川</a>
					<a href="#">重庆</a>
				</dd>
			</dl>

			<dl class="col-article">
				<dt>行业方案</dt>
				<dd>

					<a href="#">国际标准</a>

					<a href="#">国家标准</a>

					<a href="#">检测认证</a>

				</dd>
			</dl>

			<dl class="col-article">
				<dt>帮助中心</dt>
				<dd>

					<a href="#">视频教程</a>

					<a href="#">操作说明</a>

					<a href="#">更新日志</a>

				</dd>
			</dl>

			<dl class="col-article col-article-spe">
				<dt>联系我们</dt>
				<dd>
					<p><i class="iconfont orange">&#xe746;</i>400-078-5268</p>
					<p><i class="iconfont blue">&#xe745;</i>800007396</p>
				</dd>
			</dl>

			<div class="col-code fl">
				<div class="code">
					<img src="../../images/wx.png" alt="微信公众号">
				</div>
				<p>微信小程序</p>
			</div>

		</div>

		<div class="footer-links">
			<span>友情链接：</span>
			<!-- 友情链接循环开始 -->
			<a href="#" title="">中国汽车网</a>

			<a href="#" title="">汽车之家</a>

			<a href="#" title="">中国汽车材料网</a>

			<a href="#" title="">车联网汽车零部件在线交易平台</a>

			<a href="#" title="">车联网解决方案平台</a>

			<a href="#" title="">机动车检验服务平台</a>

			<!-- 友情链接循环结束 -->
		</div>

		<div class="footer-info w1210">
			<div class="info-text">
				<!-- 底部导航 -->
				<p class="nav-bottom">

					<a href="#">公司简介</a>

					<em>|</em>

					<a href="#">联系我们</a>

					<em>|</em>

					<a href="#">官网论坛</a>

					<em>|</em>

					<a href="#">投诉建议</a>

					<em>|</em>

					<a href="#">站点地图</a>

				</p>
				<p class="copyright">
					西南交通大学信息科学与技术学院© 版权所有 <em></em>	<p class="company-info">四川省成都市犀浦镇犀安路999号</p>
					<a href="#" rel="nofollow">川ICP备193.56号</a>
				</p>

				<p class="qualified">

				</p>
			</div>

		</div>

	</div>
</div>
</body>

</html>